apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: monitoring
  namespace: argocd
  labels:
    app.kubernetes.io/managed-by: argocd
  annotations:


spec:
  project: default

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring

  source:
    repoURL: https://github.com/nagarajurahul/helm-charts
    targetRevision: main
    path: monitoring
    
    helm:
      valueFiles:
        - values.yaml
    
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      # - Replace=true # Never do this in production, replace can bring unexpected results
# kube-prometheus-stack ships very large CRDs, Argo CD tries to PATCH CRDs, The CRDs contain huge OpenAPI schemas in annotations
# Kubernetes rejects the patch as it cannot hold more than 256kb in its annotations, hence no resources( pv, ingress) are created defined inside values.yaml
# https://www.arthurkoziel.com/fixing-argocd-crd-too-long-error/
